
.svgContainer {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  gap: 10px;
}

.boxContainer {
  display: grid;
  justify-items: center;
  width: 220px;
  height: 180px;
  gap: 5px;
  outline: 1px solid var(--gray-200);
}
